
.A{
    background-color: black;
    
}  
section{
    background-color: white;
} 
.pie{
    background-color: black;
}
.pie2{
    background-color: white;
}
.img02{
    width:75px;
    height:75px;  
    margin:0px;
}
.pagina{
    padding: 49px;
    text-decoration: none;
    color: white;
    width: 100px;
}

.menu{
    text-align: center;
    height: 20px;
    margin-top: -40px;
    padding:5px;    
}
.img04{
    margin: -128px 0px 79px 800px; 
}
.texto01{
    width: 700px;
    margin: -344px 1px 13px 588px;  
    font-size: 1.6rem;
}
