p{
    color: blue;
}
body{
    background-color: rgb(235, 127, 12);
}
.A{
    background-color: black;
}  
section{
    background-color: white;
} 
.pie{
    background-color: black;
}
.pie2{
    background-color: white;
}