
.A{
    background-color: none;
    
}  
section{
    background-color: none;
} 
.pie{
    background-color: black;
}
.pie2{
    background-color: white;
}
.img02{
    width:81px;
    height:68px;  
    margin:1px;
}
.pagina{
    padding: 49px;
    text-decoration: none;
    color: white;
    width: 100px;
}

.menu{
    background-color: black;
    text-align: center;
    height: 20px;
    margin-top: -90px;
    padding:32px;    
}

.texto01{
    width: 700px;
    margin: -344px 1px 101px 588px;  
    font-size: 1.6rem;
}

.img06{
    margin: 0px 0px 0px 850px;
}
